//@import './variables.module.scss';
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #f361fb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

.accountsList {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 30px 0;
  border-top: 1px solid #9459a0;
  border-bottom: 1px solid  #9459a0;
}

.fieldset {
  display: flex;
  align-items: center;
  gap: 10px;
}

.fieldset-input {
  background-color: #e1abe8;
  border-radius: 30px;
  border: none;
  text-align: center;
  font-size: 15px;
  font-weight: bolder;
  padding: 10px;
  max-width: 120px;
}

.fieldset-buttons {
  display: flex;
  flex-direction: column;
}