//@import './variables.module.scss';
.App {
  text-align: center;
}





.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1 {
  margin: 50px;
  color: #d8a7e7;
}

h2 {
  font-size: 25px;
}

p {
  font-size: 20px;
  padding: 10px 25px;
  margin: auto;
}

.card {
  background-color: #28102d;
  border-color: #d49cde;
}

.card-header {
  border-bottom-color: #deabe8;
}

ul.no-bullets {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.accounts-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 30px 0;
  flex-direction: column;
}
.account-name{
  display: flex;
  justify-content: space-between;
}
.fieldset {
  display: flex;
  align-items: center;
  gap: 10px;
}
.fieldset-add-new {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}


.fieldset-input {
  background-color: #e1abe8;
  border-radius: 30px;
  border: none;
  text-align: center;
  font-size: 15px;
  font-weight: bolder;
  padding: 10px;
  max-width: 120px;
}

.fieldset-buttons {
  display: flex;
  flex-direction: column;
}
.modal {
  display: block;
  background-color: rgba(86, 29, 82, 0.803);

  .modal-content {
    background-color: #d5c8db;
  }

  .modal-title,
  .modal-body {
    color: #8a508b;
  }
}

.sort {
  border: 1px solid #f7f3f8;
  border-radius: 5px;
  width: 200px;
  font-size: 15px;

  .sort-button {
    width: 30px;
    height: 30px;
    font-size: 15px;
    cursor: pointer;
    color: #f7f7f7;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &:after {
      content: '\25A2'; // square
    }

    &.asc::after {
      content: '\25B3'; // up-pointing triangle
    }

    &.default::after {
      content: '\25BD'; // down-pointing triangle
    }
  }
}